a, a:visited {
  text-decoration: none;
  color: #b3b3b3;
  transition: all 0.3s ease;
  width: 100%;
  user-select: none;
  padding: 0px;
}

a:hover {
  color: #fff;
}

.navbar-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0 24px;
  border-radius: 4px;
  margin: 12px 0px;
}

.navbar-link-container.active {
  color: #fff;
  background-color: #282828;
}


.navbar-link-container img {
  filter: invert(80%);
  height: 100%;
  max-height: 24px;
  margin-right: 16px;
  transition: all 0.3s ease;
}

.navbar-link-container:hover img, .navbar-link-container.active img {
  filter: invert(100%);
}

.navbar-link-container p {
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
}
