:host {
  width: 100%;
  max-width: 260px;
}

nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  max-width: 260px;
  background-color: #000;
  padding-top: 24px;
}

.logo-container > a{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 24px;
  margin-bottom: 14px;
  text-decoration: none;

}

.logo-container > a > img {
  height: 100%;
  margin-right: 6px;
}

.logo-container > a > p {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
}

.navbar-links {
  width: 100%;
  padding: 4px;
}

.navbar-playlists {
  height: 100%;
  width: 100%;
  padding-left: 24px;
  padding-top: 8px;
  margin-top: 3em;
  border-top: 1px solid #b3b3b3;
}
