<nav>
  <div class="logo-container">
    <a routerLink='' routerLinkActive="active">
      <img src="/assets/images/logo.svg" alt='logo'/>
      <p>Spotular</p>
    </a>
  </div>
  <div class='navbar-links'>
  <app-navbar-link
    name='Home'
    srcIcon='/assets/images/home.svg'
    altIcon="HomeIcon"
    link="/"
  ></app-navbar-link>
  <app-navbar-link
    name='Search'
    srcIcon='/assets/images/search.svg'
    altIcon="SearchIcon"
    link="/search"
  ></app-navbar-link>
  <app-navbar-link
    name='Library'
    srcIcon='/assets/images/library.svg'
    altIcon="LibraryIcon"
    link="/library"
  ></app-navbar-link>
  </div>
  <div class="navbar-playlists">
    <app-navbar-playlist-link *ngFor="let playlist of playlistList" [simplifiedPlaylistObject]="playlist"></app-navbar-playlist-link>
  </div>
</nav>
