.navbar-playlist-link, .navbar-playlist-link:visited {
  display: flex;
  height: 35px;
  line-height: 1;
  color: #b3b3b3;
  transition: all 0.3s ease;
  text-decoration: none;
  margin: 0.4em 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-overflow: ellipsis;
}

.navbar-playlist-link:hover, .navbar-playlist-link.active {
  color: #fff;
}
